/* Css done by Declan*/
header a{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-family: Arial, sans-serif;
  padding-top: 10px;
  padding-left: 10px;
}

header {
  position:fixed;
  top: 0;
  background: #78B7C9;
  height: 70px;
  width: 100%;
  padding-right: 100%;
  border-bottom: #78B7C9 1px solid;
  z-index: 5;
  left:0px;
  right:0px;
  

  #logotext{
    display: flex;
  }
}

header img{
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.tab {
  overflow: hidden;
  border: 1px solid #96D2E6;
  background-color: #96D2E6;
  position:fixed;
  top: 70px;
  color: #96D2E6;
  width: 100%;
  z-index: 5;
  left: 0px;
  right: 0px;
}

.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 0.3s;
  padding-left: 1%;
  padding-right: 1%;
  font-family: Arial, Helvetica, sans-serif sans-serif;
  font-size: 14px;
  z-index: 5;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  position: relative;
  top: 100px;
}

#Home {
  background-color: white;
  display: block;
  .contained_words{
    position: relative;
    text-align: center;
    color: white;

    
    .bottom_left_words{
      position: absolute;
      bottom: 15px;
      left: 15%;
      font-family: 'Courier New', Courier, monospace;
      font-size: 30px;
    }
  }
  
  #first_block{
    display: block;
    font-family: bahnschrift;
    color: black;
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 0;
  }

  #second_block{
    display: block;
    font-family: Arial, sans-serif;
    color: black;;
    font-size: 15px;
    margin-left: 23%;
    margin-right: 23%;
  }
    
  .centralise{
    p{
      font-family: Arial, sans-serif;
      text-align: center;
      font-size: 16px;
    }

    h3{
      font-family: bahnschrift;
      text-align: center;
      font-size: 25px;
    }
  }
  
  .clear{
    clear:left;
    text-align: center;
  }

  #locationh3{
    font-family: bahnschrift;
    text-align: center;
    font-size: 25px;
  }
  
  .location{
    display: flex;
    flex-direction: row;
    padding-left:20%;
    flex-wrap: wrap;
    padding-right:20%;
    img{
      width: 40%;
      height: 100%;
      padding-right: 1%;
      flex:30%;
    }
    
    p{
      margin:1px;
      font-family: Arial, sans-serif;
      color: black;
      font-size: 15px;
      padding-top: 1px;
      padding-bottom: 1px;
      flex:40%;
    }
  }

  
  .rooms_display{
    display: flex;
    margin-bottom: 20px;
    padding: 10px;
    background: #fff;
    flex: 1;
    img{
      width: 95%;
      height: 100%;
    }
    h3{
      font-family: Bahnschrift;
      color: black;
      
      text-align: center;
    }
    p, h4{
      font-family: Arial, sans-serif;
      margin-bottom: 10px;
      margin-top: 10px;
      margin-left: 10px;
      margin-right: 5px;
    }
    .column{
      flex: 30%;
      text-align: center;
      width: 30%;
      height:100%;
    }
    .spacing{
      flex:10%;
    }
  } 
}

#Contact {
  background-color: white;
  h3 {
    font-family: Bahnschrift;
    padding-left:20px;
  }
  
  #title{
    color: black;
    font-size: 30px;
    margin-bottom: 5px;
    padding:0px;
  }

  p{
    font-family: Arial, sans-serif;
  }

  .contacts{
    display: flex;
  }

  .column{
    flex: 50%;
  }

  input[type=text], select, textarea {
    width: 80%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-family: Arial, sans-serif;
  }

  label {
    padding: 12px;
    display: inline-block;
  }

  input[type=submit] {
    background-color: #02acf5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }

  input[type=submit]:hover {
    background-color: #024ea1;
  }

  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  .col-15 {
    float: left;
    width: 15%;
    margin-top: 6px;
  }

  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }

  .row::after {
    content: "";
    display: table;
    clear: both;
  }

  #subject{
    height:200px;
  }
}

footer {
  #flextape{
    display:flex;
    margin: auto;
    justify-content: center;
  }
  
  img{
    padding-top: 5px;
    width: 50px;
    height: 50px;
    margin-right: 15px;
  }
  
  a {
    color:white;
  }
  .pages{
    display: flex;
    ul{
      flex: 25%;
      list-style-type: none;
    }
    li {
      padding: 8px;
      margin-bottom: 7px;
      color: #ffffff;
    }
    li:first-child{
      font-family: Bahnschrift;
      font-size: 20px;
    }
  }
  background: #78B7C9;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
  top: 140px;
  position:relative;
  font-family: Arial, sans-serif;
}
/*320px or 480px phone
768px tablets
1920px desktop*/
@media only screen and (max-width: 810px) {
  #Home{
    .location{
      display:block;
      padding-left: 0px;
      padding-right:0px;
      img{
        padding: 0px;
        width: 100%;
        height: 100%;
      }
      p{
        text-align:center;
        padding-right:0px;
      }
    }
  }
}
@media only screen and (max-width: 682px) {
  #Extra_br{
    padding-bottom: 18.5px;
  }
}
